[Unit]
Description=Modify GPU Settings at startup

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/scripts/gpuPower

[Install]
WantedBy=multi-user.target
